#editor > div.DraftEditor-root {
  height: 500px;
  width: auto;
  padding-top: 5px;
  padding-right: 5px;
}

#editor > div.DraftEditor-editorContainer,
#editor > div.public-DraftEditor-content {
  height: 100%;
}

#reader > div.DraftEditor-root {
  min-height: 500px;
  width: auto;
  padding-top: 5px;
  padding-right: 5px;
}

#reader > div.DraftEditor-editorContainer,
#reader > div.public-DraftEditor-content {
  height: 100%;
}
